.seller-actions-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem; }
  .seller-actions-container a.seller-link {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(11, 94, 218, 0.2);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    color: #0b5eda;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none; }
    .seller-actions-container a.seller-link:hover {
      background-color: rgba(11, 94, 218, 0.1); }
  .seller-actions-container button.block-seller-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.125rem;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .seller-actions-container button.block-seller-button:hover {
      background-color: rgba(247, 64, 2, 0.1);
      border-radius: 0.25rem; }
